.App-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #282c34;
	padding: 10px 20px;
	color: white;
}

.header-left .logo {
	height: 40px;
}

.header-right {
	display: flex;
	align-items: center;
}

.header-icon {
	color: white;
	font-size: 1.5em;
	margin-left: 15px;
	cursor: pointer;
}
