.InvoiceCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.Pagination {
	display: flex;
	justify-content: end;
}

.RevenueHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.RevenueSection {
	width: 100%;
	height: 400px;
}

.TimeSeriesFilter {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.TimeSeriesFilter label {
	margin-right: 10px;
	font-size: 16px;
}

.TimeSeriesFilter select {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 16px;
}